.footer-content{
    background-color: #a1c45a;
    padding: 5%;
}
.footer{
    margin: 1% 2%;
    line-height: 30px;
}
.footer-links{
    margin: 1% 0%;
}
a{

    color: gray;
        text-decoration: none;
}
.footer-logo{
   transform: translateX(-10px);
    height: 20%;
    width: 20%;
    margin-bottom:3% ;
}
a:hover{
    color: gray;
}
.footer-header{
    color: white;
    font-size: 34px;
}
.footer-content p{
    font-size: 18px;
    font-family: 'Questrial', sans-serif;
}
.footer-foot{
    font-size: 23px;
    background:none;
}